@charset "UTF-8";
/* CSS Document */
/* TODO: Responsive Design */
button{
    outline: none !important;
}
.list-group{
	height: 75vh;
	overflow: scroll;
}
body {
  padding-top: 70px !important;
}
.sp-replaces{
  padding: 6px !important;
  border-radius: 4px !important;
}